@import 'reset';

:root {
  --random-number: 5rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: Helvetica, arial, sans-serif;
  height: 100%;
}

*,*:before,*:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

.object {
  width: 50%;
  height: auto;
}